[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = git@github.com:tmux-plugins/tmux-sensible.git
[submodule ".tmux/plugins/tmux-pain-control"]
	path = .tmux/plugins/tmux-pain-control
	url = git@github.com:tmux-plugins/tmux-pain-control.git
[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
[submodule ".tmux/plugins/tmux-continuum"]
	path = .tmux/plugins/tmux-continuum
	url = git@github.com:tmux-plugins/tmux-continuum.git
[submodule ".tmux/plugins/tmux-mighty-scroll"]
	path = .tmux/plugins/tmux-mighty-scroll
	url = git@github.com:noscript/tmux-mighty-scroll.git
